@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url(img/bg2.jpg);
  background-size: cover;
  background-position: center;
}

header section {
  margin: 0 auto;
  color: #212121;
  max-width: 640px;
}

header img {
max-width: 150px;
border-radius: 100px;

}

h1 {
  margin: 1em 0;
  color: #212121;
  text-transform: uppercase;
}

h3 {
  margin: 1em 0;
  color: #212121;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

ul {
  margin: 0;
}
ul.list-dashed {
  list-style-type: none;
  padding: 0;
}

ul.list {
  list-style-type: none;
  padding: 0;
}

ul.list-dashed > li {
 padding-left: 1.5em; 
}

ul.list-dashed > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #e9d6d6;
}

ul.list > li:before {
  content: "✔";
  padding-right: 0.5em;
  color: #e9d6d6;
}

.course { 
}

.course .title {
}

.course .descrition {
  text-transform: initial;
}

.school span {
  color: #3C5850;
  font-style: italic;
}

footer {
 padding: 1em;
}
