@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url(img/bg2.jpg);
  background-size: cover;
  background-position: center;
}

header section {
  margin: 0 auto;
  color: #212121;
  max-width: 640px;
}

header img {
max-width: 150px;
border-radius: 100px;

}

h1 {
  margin: 1em 0;
  color: #212121;
  text-transform: capitalize;
}

main {
  max-width: 1140px;
}

.course {
}

.course .title {
}

.course .descrition {
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
